---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Summary from "../components/Summary.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Education from "../components/Education.astro";
import Apps from "../components/Apps.astro";
import Accomplishments from "../components/Accomplishments.astro";
import Publications from "../components/Publications.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Summary />
    <Experience />
    <Skills />
    <Education />
    <Apps />
    <Accomplishments />
    <Publications />
  </main>
  <Footer />
</Layout>
